<module>
	<rawname>timequeues</rawname>
	<name>Time Queues</name>
	<version>0.0.0.1</version>
	<publisher>Geekspourjesus</publisher>
	<license>GPLv2+</license>
	<changelog>
		0.0.0.1 first version
	</changelog>
	<type>setup</type>
	<category>Inbound Call Control</category>
	<menuitems>
		<timequeues>Time Queues</timequeues>
	</menuitems>
</module>
